extends ../layout

block content 
	.content
		include ../../partials/nav

		.container.m-3
			h1 Change Password
			if error
				.alert.alert-danger= error
			include ../../partials/flash

			form(action="/change-password" method="POST" autocomplete="off")

				.form-group.mb-3(class=isFirstLogin?'d-none':'')
					label(for="currentPassword") Current Password:
					input.form-control(type="password" name="currentPassword" value=currentPassword)
				.form-group.mb-3
					label(for="newPassword") New Password:
					input.form-control(type="password" name="newPassword")
				.form-group.mb-3
					label(for="confirmPassword") Confirm Password:
					input.form-control(type="password" name="confirmPassword")
				.form-group.mb-3
					button.btn.btn-primary(type="submit") Change Password