<%- include('../../partials/nav') %>
<%= sideLink = '' %>
<link rel="stylesheet" href="/css/changePw.css" />
<div class="container">
    <h3 class="font-weight-bold py-3 px-3">Change Password</h3>
    <div class="main-body">
        <form id="change-password" autocomplete="off">
            <div class="form-group mb-3 <%= typeof(isFirstLogin) != 'undefined'? 'd-none' : '' %>">
                <h6>
                    <label for="currentPassword">Current Password:</label>
                    <input
                        class="form-control"
                        type="password"
                        name="currentPassword"
                        value="<%= typeof currentPassword !== 'undefined' ? currentPassword: '' %>"
                    />
                </h6>
            </div>
            <div class="form-group mb-3">
                <h6>
                    <label for="newPassword">New Password:</label>
                    <input class="form-control" type="password" name="newPassword" />
                </h6>
            </div>
            <div class="form-group mb-3">
                <h6>
                    <label for="confirmPassword">Confirm Password:</label>
                    <input class="form-control" type="password" name="confirmPassword" />
                </h6>
            </div>
            <div class="form-group mb-3">
                <button class="btn btn-outline-primary" type="submit">Change Password</button>
            </div>
        </form>
    </div>
</div>

<!-- Script for change-password functionality -->
<script src="/js/custom/change-password.js"></script>
