extends ../layout

block content 
	.content
		include ../../partials/nav
		link(rel="stylesheet" href="/css/changePw.css")
		.container
			h3.font-weight-bold.py-3.px-3 Change Password
			.main-body
				if error
					.alert.alert-danger= error
				include ../../partials/flash

				form#change-password(autocomplete="off")
					.form-group.mb-3(class=isFirstLogin?'d-none':'')
						h6
							label(for="currentPassword") Current Password:
							input.form-control(type="password" name="currentPassword" value=currentPassword)
					.form-group.mb-3
						h6
							label(for="newPassword") New Password:
							input.form-control(type="password" name="newPassword")
					.form-group.mb-3
						h6
							label(for="confirmPassword") Confirm Password:
							input.form-control(type="password" name="confirmPassword")
					.form-group.mb-3
						button.btn.btn-primary(type="submit") Change Password

	script(src="/js/custom/change-password.js") 