extends ../layout

block content 
    div.container
        h1 Change Password
        if error
            div.alert.alert-danger= error
        include ../../partials/flash

        form(action="/change-password" method="POST")
            div.form-group.mb-3
                label(for="currentPassword") Current Password:
                input.form-control(type="password" name="currentPassword" required)
            div.form-group.mb-3
                label(for="newPassword") New Password:
                input.form-control(type="password" name="newPassword" required)
            div.form-group.mb-3
                label(for="confirmPassword") Confirm Password:
                input.form-control(type="password" name="confirmPassword" required)
            div.form-group.mb-3
                button.btn.btn-primary(type="submit") Change Password