extends ../layout

block content 
    .content
        div.container
            h1 Change Password
            if error
                div.alert.alert-danger= error
            include ../../partials/flash

        form(action="/change-password" method="POST" autocomplete="off")
            if !isReset
                div.form-group.mb-3
                    label(for="currentPassword") Current Password:
                    input.form-control(type="password" name="currentPassword")
            div.form-group.mb-3
                label(for="newPassword") New Password:
                input.form-control(type="password" name="newPassword")
            div.form-group.mb-3
                label(for="confirmPassword") Confirm Password:
                input.form-control(type="password" name="confirmPassword")
            div.form-group.mb-3
                button.btn.btn-primary(type="submit") Change Password