include ../../partials/html
include ../../partials/flash

link(rel="stylesheet" href="/css/form.css")
link(rel="stylesheet", href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css")

.login-card
    h2 Login
    h3 Enter your account
    form(method='post')
        .login-form
            input(type='text' name='username' placeholder='User Name' autocomplete='off')
            input(type='password' name='password' placeholder='Password' autocomplete='off')
       
            button(type='submit') Login
            a(href='/password-reset')
                | Forgot your password?


script.
    $(document).ready(function () {
        $('#username').focus();
    });
