include ../../partials/head
include ../../partials/flash

head 
	title=pageTitle

link(rel="stylesheet" href="/css/form.css")
link(rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css")


include ../../partials/spinner
.login-card
	h2 Login
	h3 Enter your account
	form#login
		.login-form
			input(type='text' name='username' placeholder='User Name' autocomplete='off')
			input(type='password' name='password' placeholder='Password' autocomplete='off')

			button(type='submit') Login
			a(href='/reset-password')
				| Forgot your password?


script(src="/js/custom/login.js")

