<div class="login-card">
    <h2>Login</h2>
    <h3>Enter your account</h3>
    <form id="login" action="/your-login-action" method="post">
        <div class="login-form">
            <input type="text" name="username" placeholder="User Name" autocomplete="off">
            <input type="password" name="password" placeholder="Password" autocomplete="off">
            <button type="submit">Login</button>
            <a href="/reset-password">Forgot your password?</a>
        </div>
    </form>
</div>


<script src="/js/custom/login.js"></script>