include ../../partials/head
include ../../partials/flash

link(rel="stylesheet" href="/css/password-reset.css")


.reset-card
	h2 Reset Password
	form(autocomplete="off")
		.reset-group
			input(type='text' name='email' placeholder='your@email.com' autocomplete='off', focus)
			button(type='submit') Reset Password
			a(href='/') Back to login

script(src="/js/custom/password-reset.js")