include ../../partials/html
include ../../partials/flash

link(rel="stylesheet" href="/css/password-reset.css")


.reset-card
	h2 Reset Password
	form(method='post' autocomplete="off")
		.reset-group
			input(type='text' name='email' placeholder='your@email.com' autocomplete='off', focus)
			button(type='submit') Reset Password
			a(href='/') Back to login
