
<link rel="stylesheet" href="/css/reset-password.css">

<div class="reset-card">
    <h2>Reset Password</h2>
    <form autocomplete="off" action="/your-reset-password-action" method="post">
        <div class="reset-group">
            <input type="text" name="email" placeholder="your@email.com" autocomplete="off">
            <button type="submit">Reset Password</button>
            <a href="/login">Back to login</a>
        </div>
    </form>
</div>

<script src="/js/custom/reset-password.js"></script>
