include ../../partials/head
include ../../partials/flash

link(rel="stylesheet" href="/css/reset-password.css")

include ../../partials/spinner
.reset-card
	h2 Reset Password
	form(autocomplete="off")
		.reset-group
			input(type='text' name='email' placeholder='your@email.com' autocomplete='off')
			button(type='submit') Reset Password
			a(href='/login') Back to login

script(src="/js/custom/reset-password.js")