<%- include('../../partials/nav') %>
<%  sideLink = ''%>
<link rel="stylesheet" href="/css/404.css">
<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1 class="display-1 fw-bold">404</h1>
        <p class="fs-3">
            <span class="text-danger">Opps!</span>
            Page not found.
        </p>
        <p class="lead">
            The page you&rsquo;re looking for doesn&rsquo;t exist.
        </p>
        <a class="btn btn-outline-primary" href='/'>Back to Dashboard</a>
    </div>
</div>