.nav-item.ms-2.pt-3
    button.btn.border-0.btn-light.position-relative
        span.material-symbols-outlined.pt-1 shopping_cart
        span.position-absolute.top-0.start-100.translate-middle.badge.rounded-pill.bg-danger
            | 99+
            span.visually-hidden