.nav-item.ms-2
    button.btn.border-0.btn-light.position-relative
        span.material-symbols-outlined shopping_cart
        span.position-absolute.top-0.start-100.translate-middle.badge.rounded-pill.bg-danger
            | 99+
            span.visually-hidden