// Confirm delete
.modal.fade#modalDelete(data-bs-backdrop="static",
    data-bs-keyboard="true",
    tabindex='-1',
    aria-labelledby='staticBackdropLabel',
    aria-hidden='true')
    .modal-dialog.modal-dialog-scrollable
        .modal-content
            // Modal Header
            .modal-header
                h5.modal-title Delete
                button.btn-close(data-bs-dismiss='modal', aria-label='Close')

            // Modal body
            .modal-body
                p Are you sure you want to delete
                strong
                | ?

            // Modal footer
            .modal-footer
                button.btn.btn-secondary(data-bs-dismiss='modal') Close
                button.btn.btn-danger.btn-submit Delete
// End Confirm delete

script.
    $(document).ready(function () {
        $('#modalDelete').on('shown.bs.modal', function () {
            $('#modalDelete .modal-footer button.btn.btn-danger').focus();
        });
    });
