- console.log("=>(flash.pug:4) message", message);

.toast-container.top-0.end-0.p-3
    if (message.info)
        #liveToast.toast(role='alert', aria-live='assertive', aria-atomic='true')
            .toast-header
                img.rounded.me-3(src='/TechHut.png', width='20', height=20 alt='')
                strong.me-auto TechHut
                small
                button.btn-close(data-bs-dismiss='toast', aria-label='Close')
            .toast-body
                =`I ${message.info}`
    if (message.success)
        #liveToast.toast(role='alert', aria-live='assertive', aria-atomic='true')
            .toast-header
                img.rounded.me-3(src='/TechHut.png', width='20', height=20 alt='')
                strong.me-auto TechHut
                small
                button.btn-close(data-bs-dismiss='toast', aria-label='Close')
            .toast-body
                =`S ${message.success}`
    if (message.error)
        #liveToast.toast(role='alert', aria-live='assertive', aria-atomic='true')
            .toast-header
                img.rounded.me-3(src='/TechHut.png', width='20', height=20 alt='')
                strong.me-auto TechHut
                small
                button.btn-close(data-bs-dismiss='toast', aria-label='Close')
            .toast-body
                =`E ${message.error}`

script.
    setTimeout(() => {
        $(".toast").each((index, value) => {
            const toastBootstrap = bootstrap.Toast.getOrCreateInstance(value)
            toastBootstrap.show()
        })
    }, 1000);
