if flash
    .alert.alert-dismissible.fade.show(id=flash.type, class=`alert-${flash.type}`, role='alert')
        strong= flash.info
            span= ` ${flash.message}`
        button.btn-close(data-bs-dismiss='alert' aria-label='Close')

