

mixin renderProfilePicture(imageSrc)
    img.img-fluid.w-100.lazy(data-src=imageSrc ? `${imageSrc}` : 'https://placehold.co/200?text=Empty&font=roboto' alt='Profile Picture' onerror="this.src='https://placehold.co/200?text=Not+available&font=roboto'")

mixin formatDate(dateString, format)
    - const date = new Date(dateString)
    - const day = date.getDate().toString().padStart(2, '0')
    - const month = (date.getMonth() + 1).toString().padStart(2, '0')
    - const year = date.getFullYear()
    - const hours = date.getHours().toString().padStart(2, '0')
    - const minutes = date.getMinutes().toString().padStart(2, '0')
    - const seconds = date.getSeconds().toString().padStart(2, '0')
    - const formattedDate = format.replace('dd', day).replace('MM', month).replace('yyyy', year).replace('hh', hours).replace('mm', minutes).replace('ss', seconds)
    | #{formattedDate}
