footer.footer.py-4
    .container
        .row.justify-content-center
            .col-lg-4.text-lg-start.just-content-center Copyright &copy; TechHut 2023
            //- .col-lg-4.my-3.my-lg-0

            //- .col-lg-4.text-lg-end

