
title= title
meta(charset='utf-8')
meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")

//- link(href='/css/combined.css' rel='stylesheet')
//- script(src='/js/bundle.min.js')

//- bootstrap icon
link(href="/css/plugins/bootstrap-icons.css" rel="stylesheet")

//- boostrap version 5.3.2
link(href="/css/plugins/bootstrap.min.css" rel="stylesheet")
script(src="/js/plugins/popper.min.js")
script(src="/js/plugins/bootstrap.min.js")

//- font awesome icons 
link(href="/css/plugins/font-awesome.min.css" rel="stylesheet")
link(href="/css/plugins/fontawesome.min.css" rel="stylesheet" )

//- ionic icon
script(type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js")
script(nomodule, src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js")
script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js' crossorigin='anonymous')

//- remix icon
link(href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet")
link(href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet')
script(nomodule, src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js")

//- google font icon
link(href="/css/plugins/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" rel="stylesheet")

//- iconify icon
script(src="/js/plugins/iconify.min.js")

//- iconscout icon
link(href="/css/plugins/unicons.css" rel="stylesheet")

//- [PLUGIN AREA]
//- [plugin] jquery 
script(src="/js/plugins/jquery-3.7.0.js")

//- [plugin] jquery ui  
link(href="/css/plugins/jquery-ui.css" rel="stylesheet" )
script(src="/js/plugins/jquery-ui.js")

//- [plugin] jquery datatables
script(src="/js/plugins/jquery.dataTables.min.js")
script(src="/js/plugins/dataTables.bootstrap5.min.js")
script(src="/js/plugins/dataTables.rowReorder.min.js")
link(href="/css/plugins/dataTables.bootstrap5.min.css" rel="stylesheet")
link(href="/css/plugins/datatables.min.css" rel="stylesheet")
script(src="/js/plugins/pdfmake.min.js")
script(src="/js/plugins/vfs_fonts.js")
script(src="/js/plugins/datatables.min.js")
script(src="/js/plugins/ellipsis.js")
script(src="/js/plugins/hyperLink.js")

//- [plugin] select2
link(href="/css/plugins/select2.min.css" rel="stylesheet")
script(src="/js/plugins/select2.full.min.js")

//- [plugin] form cache
script(src="/js/plugins/formcache.min.js") 

//- [plugin] lazy loading image 
script(src="/js/plugins/jquery.lazy.min.js")
script(src="/js/plugins/jquery.lazy.plugins.min.js")

//- [plugin] magnific popup 
link(href="/css/magnific-popup.css" rel="stylesheet")
script(src="/js/plugins/jquery.magnific-popup.js")

//- [plugin] fittext  
script(src="/js/plugins/jquery.fittext.js")

//- [plugin] jquery validation  
script(src="/js/plugins/jquery.validate.js")

//- [plugin] timepicker  
link(href="/css/plugins/jquery.timepicker.min.css" rel="stylesheet")
script(src="/js/plugins/jquery.timepicker.min.js")

//- [plugin] jquery datetimepicker  
link(href="/css/plugins/jquery.datetimepicker.css" rel="stylesheet")
script(src="/js/plugins/jquery.datetimepicker.full.min.js")

//- [plugin toastr]
link(href="/css/plugins/toastr.min.css" rel="stylesheet")
script(src="/js/plugins/toastr.min.js")

//- [plugin jquery ui]
//- [plugin jeasyui]
//- [plugin jqwidgets]

//- [plugin collect.js]
//- script(src="/js/plugins/collect.min.js")

//- [plugin underscore.js]
script(src="/js/plugins/underscore-min.js")


//- [CUSTOM CSS AREA]
link(href="/css/home.css" rel="stylesheet")
link(href="/css/layout.css" rel="stylesheet")

//- [SCRIPT AREA]
script(src="/js/custom/toastr-config.js")