//- link(rel="stylesheet" href="/css/sidebar.css")

.sidebar
  a.logo(href='#top')
    i.bx.bx-store-alt
    .logo-name
      span Tech
      | Hut
  ul.side-menu
    li(class= sideLink == 'Home' ? 'active' : '')
      a(href='/')
        i.bx.bxs-dashboard
        | Dashboard
    li(class= sideLink == 'Product' ? 'active' : '')
      a(href='/products')
        i.bx.bx-store-alt
        | Shop
    li(class= sideLink == 'Checkout' ? 'active' : '')
      a(href='/checkout')
        i.bx.bx-analyse
        | Checkout
    li(class= sideLink == 'User' ? 'active' : '')
      a(href='/users')
        i.bx.bx-group
        | Users
    li
      a(href='#')
        i.bx.bx-message-square-dots
        | Tickets
    li.dropdown 
      a.dropdown-toggle(href='#' data-toggle='dropdown')
        i.bx.bx-cog
        | Settings
        //- chua fix duoc cho nay
        ul.dropdown-menu(aria-labelledby='dropdownUser1')
          li
              a(href='/random-product') Add 50 product random
          li
              a(href='/create-sample-data') Create sample data
          li
              a(href='/sent-test-mail') Test sent mail
          li
              a(href='/users/create-account') Create account
  ul.side-menu
    li
      a.logout(href='/logout#')
        i.bx.bx-log-out-circle
        |                     Logout


//- include nav
//-             .container.mt-4

//- .container-fluid
//-     .row
//-         .col-2.bg-secondary.text-white
//-             // Sidebar
//-             .d-flex.flex-column.flex-shrink-0.p-3
//-                 a.slide-title.d-flex.text-center.mb-3.mb-md-0.me-md-auto.text-white.text-decoration-none(href='/')
//-                     svg.bi.me-2(width='40' height='32')
//-                         image(xlink:href='/favicon.ico' alt='' width='40' height='32')
//-                     span.fs-4 TechHut
//-                 hr

//-                 ul.nav.nav-pills.flex-column.mb-auto 
//-                     li.nav-item
//-                         a.nav-link.text-white(href='/' aria-current='page')
//-                             svg.bi.me-2(width='16' height='16')
//-                                 use(xlink:href='#home')
//-                             |                 Home
//-                     li.nav-item
//-                         a.nav-link.text-white(href='/users')
//-                             svg.bi.me-2(width='16' height='16')
//-                                 use(xlink:href='#user')
//-                             |               Users Control
//-                     li.nav-item
//-                         a.nav-link.text-white(href='/products')
//-                             svg.bi.me-2(width='16' height='16')
//-                                 use(xlink:href='#product')
//-                             |               Products Control
//-                     li.nav-item
//-                         a.nav-link.text-white(href='/checkout')
//-                             svg.bi.me-2(width='16' height='16')
//-                                 use(xlink:href='#grid')
//-                             |               Checkout

//-                     li.nav-item
//-                         a.nav-link.text-white(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
//-                             svg.bi.me-2(width='16' height='16')
//-                                 use(xlink:href='#feature')
//-                             |               Feature
//-                             ul.dropdown-menu.dropdown-menu-dark.text-small.shadow(aria-labelledby='dropdownUser1')
//-                                 li
//-                                     a.dropdown-item(href='/random-product') Add 50 product random
//-                                 li
//-                                     a.dropdown-item(href='/create-sample-data') Create sample data
//-                                 li
//-                                     a.dropdown-item(href='/sent-test-mail') Test sent mail
//-                                 li
//-                                     a.dropdown-item(href='/users/create-account') Create account

//-                 hr
//-                 .dropdown
//-                     a#dropdownUser1.d-flex.align-items-center.text-white.text-decoration-none.dropdown-toggle(href='#' data-bs-toggle='dropdown' aria-expanded='false')
//-                         img.rounded-circle.me-2(src=user.profilePicture alt='' width='32' height='32')
//-                         if (user && user.fullName)
//-                             b= user.fullName
//-                         else
//-                             b= 'Unknown'
//-                     ul.dropdown-menu.dropdown-menu-dark.text-small.shadow(aria-labelledby='dropdownUser1')
//-                         li
//-                             a.dropdown-item(href='#') New project...
//-                         li
//-                             .dropdown-item
//-                                 .form-check.form-switch
//-                                     input#darkModeSwitch.form-check-input(type="checkbox" role="switch" checked=user.settings.darkMode)
//-                                     label.form-check-label(for="darkModeSwitch") Dark mode
//-                         li
//-                             a.dropdown-item(href='/profile') User Profile
//-                         li
//-                             hr.dropdown-divider
//-                         li
//-                             a.dropdown-item(href='/change-password') Change Password  
//-                         li
//-                             a.dropdown-item(href='/logout') Sign out
//-             // End of Sidebar
        .col
            // Navigation Bar
           
block content