<mjml>
    <mj-body background-color="#f4f4f4">
      <mj-section background-color="#ffffff">
  
        <mj-column width="100%">
          <mj-image width="100px" src="https://example.com/assets/img/logo-small.png" />
  
          <mj-divider border-color="#F45E43" />
  
          <mj-text font-size="20px" font-weight="bold" color="#333333" align="center">
            Subject: Your Retail Store System Login Information
          </mj-text>
  
          <mj-text font-size="16px" color="#555555" align="left">
            Dear [Salesperson's Name],
          </mj-text>
  
          <mj-text font-size="16px" color="#555555" align="left">
            Your login credentials for the upgraded Retail Store System are ready. Click here to log in:
          </mj-text>
  
          <mj-button href="[Insert Login Link Here]" background-color="#F45E43" color="#ffffff" font-size="16px" align="left">
            Click here to login
          </mj-button>
  
          <mj-text font-size="16px" color="#555555" align="left">
            Upon your first login, you will be prompted to change your temporary password. Please choose a strong and secure password.
          </mj-text>
  
          <mj-text font-size="16px" color="#555555" align="left">
            <strong>Important Note:</strong> This link is valid for one minute. If you encounter any issues or have questions, please contact admin.
          </mj-text>
  
          <mj-text font-size="16px" color="#555555" align="left">
            Best Regards,
          </mj-text>
  
          <mj-text font-size="16px" color="#555555" align="left">
            Administration<br />Tech Hut
          </mj-text>
        </mj-column>
  
      </mj-section>
    </mj-body>
  </mjml>
  