extends layout

block content
  .container
    .row.justify-content-center
      .col-md-6.mt-5
        .alert.alert-danger
          h2 Error 500
          p Something went wrong on our server. Please try again later.
        a.btn.btn-primary(href="/") Go back to the homepage
