extends layouts/layout

block content
    .container
        h1.text-primary Welcome to #{app_name}
        i.bi.bi-envelope

    - const classList = ['class1', 'class2', 'class3']
    p(class= classList) this is a p tag

    input(disable=false)
    script.
        const classList = 3
        console.log(classList)





