doctype html
html
    head
        title= app_name
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
        script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js')
        script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
    body
        .container
            h1.text-primary Welcome to #{app_name}

        - const classList = ['class1', 'class2', 'class3']
        p(class= classList) this is a p tag

        input(disable=false)
        script.
            const classList = 3
            console.log(classList)
        

