extends ../layout

block content 
	.content
		include ../../partials/nav
		link(rel="stylesheet", href="/css/order.css")
		.container
			h2 Orders manager
			#button-container.mb-3

			table#order-table.table.table-sm.table-striped.table-bordered(style="width:100%")
				thead
					tr
						th STT
				tbody



	script(src="/js/custom/order-datatables.js") 