extends ../layout

block content 
	.content
		include ../../partials/nav
		link(rel="stylesheet", href="/css/order.css")
		.container
			h2 Orders manager
			#button-container.mb-3

			table#order-table.table.table-sm.table-striped.table-bordered(style="width:100%")
				thead
					tr
						th 
						th(data-priority="1") STT
						th Customer
						th Total Amount
						th Given Amount
						th Change Amount
						th Purchase Date
						th(data-priority="2")
				tbody



	script(src="/js/custom/order-datatables.js") 