extends ../layout.pug

block content
	.content
		include ../../partials/nav


		// Table plugin
		.container
			h2 Product List
			#button-container.mb-3

			table#product-table.table.table-striped.table-bordered.table-rounded.rounded(style="width:100%")
				thead
					tr
						th STT
						th Barcode
						th(data-priority="1") Product Name
						th Import Price
						th(data-priority="1") Retail Price
						th Category
						th(data-priority="1") Thumbnail
						th(data-priority="1") Handle
				tbody

				//- tfoot 
				//- 	tr 
				//- 		th STT
				//- 		th Barcode
				//- 		th Product Name
				//- 		th Import Price
				//- 		th Retail Price
				//- 		th Category
				//- 		th Thumbnail
				//- 		th Handle


		// Confirm modal
		include ../../partials/confirm-delete-modal

		// Confirm modal
		include ../../partials/product-edit-modal

		#flash-alert.alert.alert-danger(style="display: none")
			span Flash alert message

	//- script for confirming delete
	script(src="js/products/confirm-delete.js")
	//- script for confirming edit
	script(src="js/products/product-edit-modal.js")
	//- script load data to table
	script(src="/js/product-datatable.js") 





