<%- include('../../partials/nav') %>

<div class="container">
    <link rel="stylesheet" href="/css/customer.css" />
    <div class="container">
        <h2>Customers manager</h2>
        <div id="button-container" class="mb-3"></div>

        <table id="customer-table" class="table table-sm table-striped table-bordered" style="width: 100%">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Phone</th>
                    <th>Full Name</th>
                    <th>Address</th>
                    <th>Gender</th>
                    <th>Rank</th>
                    <th>Email</th>
                    <th>Birthday</th>
                    <th>Handle</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <script src="/js/custom/customer-datatables.js"></script>
</div>
