extends ../layout

block content 
	.content
		include ../../partials/nav
		.container
			h2 Customers manager

			table#customer-table.table.table-sm.table-striped.table-bordered(style="width:100%")
				thead
					tr
						th STT
						th Phone
						th Full Name
						th Address
						th Gender
						th Rank
						th Email
						th Birthday
						th Handle
				tbody



	//- script(src="/js/custom/customer-confirm.js") 
	script(src="/js/custom/customer-datatables.js") 