body.dark{
    .content main .bottom-data .orders .status{
        color: #fff;
    }

    .content main .bottom-data .reminders .task-list{
        color: #fff;
    }

    .content main .bottom-data .reminders .task-list li{
        color: #fff;
    }    
}


.content main .bottom-data .reminders .task-list li{
    color: #000;
}    

.content main .bottom-data .reminders .task-list li i{
    color: #0dcaf0;
}