html,
body {
    font-family: 'Poppins', sans-serif;

    #flash-alert {
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 9999;
    }
    div.dt-button-collection {
        width: 400px;
    }

    div.dt-button-collection .dt-button {
        display: inline-block;
        width: 32%;
    }
    div.dt-button-collection .buttons-colvis {
        display: inline-block;
        width: 49%;
    }
    div.dt-button-collection h3 {
        margin-top: 5px;
        margin-bottom: 5px;
        font-weight: 100;
        border-bottom: 1px solid rgba(150, 150, 150, 0.5);
        font-size: 1em;
        padding: 0 1em;
    }
    div.dt-button-collection h3.not-top-heading {
        margin-top: 10px;
    }
}
