.search-container {
  position: relative;
  display: inline-block;
}

#search-input {
  padding: 10px;
  width: 200px;
}

.search-results-popup {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc !important;
  top: 80px;
  display: none;
  position: absolute;
  min-width: 200px;
  max-width: 500px;
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;

  * {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-top: 8px;
  }
}

body {
  margin-top: 20px;
  background: #eee;
}

.grid {
  position: relative;
  width: 100%;
  background: #fff;
  color: #666666;
  border-radius: 2px;
  margin-bottom: 25px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);

  .grid-body {
    padding: 15px 20px 15px 20px;
    font-size: 0.9em;
    line-height: 1.9em;
  }
}

.search {
  table {
    tr {
      td {
        &.rate {
          color: #f39c12;
          line-height: 50px;
        }

        &.image {
          width: 50px;

          img {
            width: 50px;
            height: 50px;
          }
        }

        &.price {
          font-size: 1.5em;
          line-height: 50px;
        }
      }
    }

    tr:hover {
      cursor: pointer;
    }
  }

  #price1,
  #price2 {
    display: inline;
    font-weight: 600;
  }
}
