body {
    font-family: 'Poppins', sans-serif;
}

.row .slide-title {
    text-align: center;
    justify-content: center;
    padding-left: 35px;
}


.nav-item {
    margin-bottom: 20px;
    padding-top: 5px;
}

.row .dropdown b {
    font-size: 18px;
}

.row .nav-link:hover {
    color: #61e4ff;
}