.container {
    margin-top: 20px;
    padding: 0 30px;

    .dataTables_wrapper .row {
        padding: 7px 0;
    }

    .dataTables_info,
    .dataTables_length label {
        font-weight: bold !important;
    }

    .dataTables_filter,
    .pagination {
        padding-right: 15px;
    }
}

#button-container {
    width: 35%;
    display: flex;

    .dt-buttons {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .btn-group .btn {
        margin-right: 10px;
        border-radius: 5px;
    }
}