include ../partials/head

.container.mt-5
    .row.justify-content-center
        .col-md-6
            .text-center
                h1.display-1.text-danger 500
                h2.display-4 Internal Server Error
                p Oops! Something went wrong on our end. We&apos;re working to fix the issue.
                a.btn.btn-primary(href='/') Go Back to Homepage
