<!DOCTYPE html>
<html lang="en">
<head>

    <%- include('../partials/head') %>

    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">

</head>
<body>

<%- include('../partials/spinner') %>

<main><%- body %></main>

</body>
</html>

