doctype html
html
    head
        include ../partials/html
    body
        include ../partials/fn
        include ../partials/pagination
        include ../partials/flash
        include ../partials/sidebar

        script(src='/js/toast.js')
        script(src='/js/home.js')

        //- Auto remove flash message - KEEP IT
        script.
            setTimeout(() => {
                $(".toast").each((index, value) => {
                    const toastBootstrap = bootstrap.Toast.getOrCreateInstance(value)
                    toastBootstrap.show()
                })
            }, 1000);

        script.
            $(document).ready(function () {
                $("img").on("error", function () {
                    $(this).attr("src", "https://placehold.co/200?text=Not+available&font=roboto");
                });
            });

        script(type=module src="/js/base64/constance.js")
        script(type=module src="/js/lazy-image-loading.js")
        script.
            lazyImageLoading()

