doctype html
html
    head
        include ../partials/html 
    body
        include ../partials/header
        include ../partials/flash
        include ../partials/fn
        include ../partials/footer


    script.
        setTimeout(() => {
            $(".toast").each((index, value) => {
                const toastBootstrap = bootstrap.Toast.getOrCreateInstance(value)
                toastBootstrap.show()
            })
        }, 1000);
    