extends layout.pug

block content
    .container
        .row
            .col-md-6.offset-md-3.text-center
                h1 Permission Denied
                p You don't have permission to access this page.