//- extends ../layout
//- block content
 
//-     link(rel="stylesheet" href="/css/about.css")

//-     header
//-         h1 About Electronic Devices
//-     main
//-         section
//-             h2 Introduction
//-             p
//-             | Welcome to our website dedicated to electronic devices. We aim to provide you with comprehensive information about the latest gadgets, technology trends, and tips for choosing the right electronic devices.
//-         section
//-             h2 Types of Electronic Devices
//-             p
//-             | Electronic devices come in various forms and serve different purposes. Here are some common types:
//-             ul
//-             li Smartphones
//-             li Laptops and Computers
//-             li Tablets
//-             li Televisions
//-             li Smartwatches
//-             li Cameras
//-             li Headphones
//-         section
//-             h2 Our Mission
//-             p
//-             | At our website, we strive to keep you informed about the latest advancements in electronic devices. Our goal is to help you make informed decisions when purchasing gadgets and to provide you with tips on how to get the most out of your devices.
//-         section
//-             h2 Stay Updated
//-             p
//-             | Subscribe to our newsletter to receive regular updates about new device releases, reviews, and technology news. Stay connected with us to stay ahead in the world of technology.
//-     footer
//-         p &copy; 2023 Your Website. All rights reserved.

