extends ../layout

block content
    .content
        include ../../partials/nav

        .container.mt-5
            .row.text-center.d-flex.justify-content-center.align-items-center
                .col-2

                .col
                    h1 Permission Denied
                    p You don't have permission to access this page.

                .col-2