
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="alert alert-danger">
                <h4>User Not Found</h4>
                <p>The user with the ID you provided was not found in the database.</p>
                <p>Please check the ID and try again.</p>
                <a class="btn btn-outline-primary" href="/">Back to Dashboard</a>
            </div>
        </div>
    </div>
</div>
