extends ../layout

block content
    .container
        .row
            .col-md-6.offset-md-3
                .alert.alert-danger
                    h4 User Not Found
                    p The user with the ID you provided was not found in the database.
                    p Please check the ID and try again.
                    a.btn.btn-primary(href='/') Go Back to Home
